<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="strmysql" connectionString="server=127.0.0.1;user id=root;password=1024;database=test;pooling=True;minpoolsize=1;maxpoolsize=10;connectiontimeout=180;" providerName="mysql.data.mysqlclient" />
  </connectionStrings>
</configuration>