<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="strmysql" connectionString="server=mammothcode.mysql.rds.aliyuncs.com;user id=mammothcode;password=mammothcode;database=mammothcode_jiuxian;pooling=True;minpoolsize=1;maxpoolsize=500;connectiontimeout=180;" providerName="mysql.data.mysqlclient" />
  </connectionStrings>
</configuration>